<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmControl"

        tools:targetApi="31">
        <service
            android:enabled="true"
            android:exported="false" android:name=".Fragments.TodayFragment.Blocker.BlockerService" >

        </service>
        <service
            android:enabled="true"
            android:exported="false" android:name=".logica.Blocker.CronometroService" >
        </service>
        <service  android:enabled="true" android:name=".Fragments.TodayFragment.Alarm.AlarmeOverlayService">

        </service>
        <receiver android:name="com.example.farmcontrol.logica.Alarmes.AlarmeBroadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="EXECUTAR_ALARME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <receiver android:name=".logica.gerenciador_horario$AlarmReceiver"/>
    </application>

</manifest>